
.main__container {
    width: 100%;
    position: relative;

    .nav__container {   
        background-color: $primaryBackground;
        border-bottom: 1px solid $greyLight;     
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }

    .products__container {
        @include flex(100%, row, flex-start, center);
        flex-wrap: wrap;
        margin-top: 75px;
        z-index: 0;
    }

    .paginator__container {
        @include flex(100%, row, center, center);
        background-color: $primaryBackground;
        border-top: 1px solid $greyLight;
        box-sizing: border-box;
        padding: 30px 10px;
    }
}